<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHlfF4Zo27li1lFg-HSdaInVDSDda1ggI&libraries=places"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Hitch</title>
  </head>
  <nav>
    <div class="logo"></div>
    <li>
      <% if (user) { %>
      <a href="/users/<%= user.id %> ">Profile</a>
      <a href="/logout">Log Out</a>
      <% } else { %>
      <a href="/auth/google">Login</a>
      <% } %>
    </li>
  </nav>
  <body>
    <p>Hitch a ride...</p>
    <form action="/" method="GET">
      <label for="start"
        >From: <br />
        <input type="text" name="start" class="start" /> </label
      ><br />
      <label for="end"
        >To: <br />
        <input type="text" name="end" class="end" /> </label
      ><br />
      <label for="date"
        >Date: <br />
        <input type="date" name="date" class="date" /> </label
      ><br />
      <input type="hidden" name="startCity" class="start-city" />
      <input type="hidden" name="endCity" class="end-city" />
      <button type="button">Search</button>
    </form>
    <script src="javascripts/index.js"></script>
  </body>
</html>
