@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

form {
  padding: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
}

.sub-main {
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
}

#logo {
  font-family: "Righteous", cursive;
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.hidden {
  display: none;
}

.navbar {
  position: fixed;
  white-space: nowrap;
  overflow-x: hidden;
  height: 60px;
  padding: 0;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 2;
}

/* The sidebar menu */
.sidebar {
  background: #fff;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 60px;
  left: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  transition: 0.3s;
  top: 60px;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 32px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn,
.searchbtn {
  font-size: 20px;
  cursor: pointer;
  /* background-color: #111; */
  color: #1e96be;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover,
.searchbtn:hover {
  background-color: #1e96be;
}

.link-container {
  position: absolute;
  top: 60px;
  white-space: nowrap;
  overflow-x: hidden;
}

.form-outside-container {
  background: linear-gradient(#f7f7f7 50%, white 50%);
  background: -webkit-linear-gradient(#f7f7f7 50%, white 50%);
  background: -moz-linear-gradient(#f7f7f7 50%, white 50%);
  background: -ms-linear-gradient(#f7f7f7 50%, white 50%);
}

.form-container {
  border: 1px solid rgb(201, 201, 201);
  background: white;
  padding: 20px;
  border-radius: 10px;
  white-space: nowrap;
  overflow-x: hidden;
  min-width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-container span {
  background-color: #fff;
  border-right: none;
}

.form-container input[type="text"] {
  border-left: none;
}

.form-container button {
  width: 100%;
  background: #1e96be;
  border-color: #1e96be;
}

.main-form {
  padding-top: 5px;
}

#main-image {
  width: 100%;
  min-width: 320px;
  position: sticky;
}

.main-slogan {
  text-align: center;
  margin-bottom: 0px;
  font-size: 35px;
  font-weight: bold;
  background: #f7f7f7;
  padding-left: 20px;
  padding-right: 20px;
}

.social-media {
  margin: 10px;
}

.social-media a {
  padding-left: 10px;
  padding-right: 10px;
  color: #1e96be;
}

.description-container {
  padding: 30px;
  padding-bottom: 0px;
  white-space: normal;
  text-align: center;
  color: rgb(122, 122, 122);
}

.description-container .slogan {
  font-weight: bold;
  font-size: 24px;
}

.description-container .header {
  font-weight: bold;
  font-size: 20px;
}

.description p {
  font-size: 14px;
}

.description svg {
  color: #1e96be;
}

.trip-container {
  overflow-x: auto;
  white-space: normal;
  margin: 20px;
  padding: 20px;
  /* border: 1px solid #1e96be; */
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.trips-container p {
  padding: 0px;
  margin: 0px;
}

.trips-container button {
  width: 100%;
  background: #1e96be;
  border-color: #1e96be;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  margin-top: 20px;
}

.column {
  width: 33%;
}

.result-time {
  font-size: 22px;
  font-weight: bold;
}

.result-price {
  font-size: 22px;
  font-weight: bold;
  text-align: right;
  color: #1e96be;
}

.result-label {
  font-size: 12px;
}

.result-city {
  font-size: 22px;
}

.result-distance {
  font-size: 12px;
  margin-top: 5px;
}

.title {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

.details-container {
  margin: 30px;
}

.details-container p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.detail-container {
  margin-bottom: 10px;
}

.tab2 {
  margin-left: 10px;
}

.tab8 {
  margin-left: 30px;
}

.details-title,
.request-title {
  margin-top: 80px;
  font-size: 35px;
  font-weight: bold;
  color: #1e96be;
  margin-bottom: 20px;
}

.driver-profile {
  display: flex;
}

.driver-profile svg {
  margin-right: 10px;
}

.driver-profile > div {
  display: flex;
  align-items: center;
}

.request-form-show {
  padding: 0px;
}

.request-form-show button,
.request-button,
.new-ride-form button,
.request button,
.request-message-container a {
  width: 100%;
  max-width: 200px;
  background: #1e96be;
  border-color: #1e96be;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

.detail-message {
  text-align: center;
}

.detail-header {
  font-weight: bold;
  font-size: 20px;
}

#map {
  width: 100%;
  max-width: 450px;
  height: 200px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.request-message-container {
  margin: 30px;
  text-align: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-trip-container {
  height: 70vh;
  margin: 20px;
}

.new-trip-title {
  font-size: 35px;
  font-weight: bold;
  color: #1e96be;
  margin-bottom: 0px;
  text-align: center;
  margin-top: 100px;
}

.new-ride-form label {
  margin: 0;
}

.new-ride-form div {
  margin-bottom: 10px;
}

.request-text {
  text-align: center;
}

.requests-container {
  margin: 20px;
  margin-top: 100px;
}

.request {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 20px;
  max-width: 600px;
  margin: 20px auto;
}

.request p {
  margin-bottom: 5px;
}

.request p span {
  font-weight: bold;
}

.request-button,
.newtrip-button-container,
.detail-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.request-radio-inputs {
  display: flex;
  justify-content: center;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
  transition: margin-left 0.5s; /* If you want a transition effect */
  /* white-space: nowrap;
  overflow-x: hidden; */
  margin-top: 60px;
  height: 100%;
  position: relative;
  padding-bottom: 100px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
